ADF/pipeline/DL to DWH.json
{
	"name": "DL to DWH",
	"properties": {
		"activities": [
			{
				"name": "DF_Product",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:30:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_Product",
						"type": "DataFlowReference",
						"datasetParameters": {
							"ProductAbfs": {
								"TableName": "Product"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					}
				}
			},
			{
				"name": "DF_SalesOrder",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "DF_Product",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_SalesOrder",
						"type": "DataFlowReference",
						"datasetParameters": {
							"SalesOrderDetailAbfs": {
								"PathDate": {
									"value": "@variables('PathDate')",
									"type": "Expression"
								}
							},
							"SalesOrderHeaderAbfs": {
								"PathDate": {
									"value": "@variables('PathDate')",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					}
				}
			}
		],
		"parameters": {
			"TableListFull": {
				"type": "array",
				"defaultValue": [
					"SalesOrderDetail",
					"SalesOrderHeader"
				]
			}
		},
		"variables": {
			"PathDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Dataflow Meetup"
		},
		"annotations": []
	}
}