ADF/pipeline/Global.json
{
	"name": "Global",
	"properties": {
		"activities": [
			{
				"name": "EP - SQL to DL",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SET - PathDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SQL to DL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"TableListFull": "[\"SalesOrderDetail\",\"SalesOrderHeader\"]",
						"PathDate": {
							"value": "@variables('PathDate')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "EP - DL to DWH",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "EP - SQL to DL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DL to DWH",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"PathDate": {
							"value": "@variables('PathDate')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SET - PathDate",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PathDate",
					"value": {
						"value": "@formatDateTime(utcnow(), 'yyyy/MM/dd')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"TableListFull": {
				"type": "string",
				"defaultValue": "SalesOrderDetail,SalesOrderHeader"
			}
		},
		"variables": {
			"PathDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Dataflow Meetup"
		},
		"annotations": []
	}
}